<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community 
  for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, sed, cupiditate placeat explicabo vel nihil incidunt optio natus libero atque accusantium itaque molestiae esse aspernatur animi dicta vitae dolorem eos!</p>
</div>